---
import ExploreSection from '@/components/about/sections/ExploreSection.astro';
import StayInspiredSection from '@/components/about/sections/StayInspiredSection.astro';
import WelcomeSection from '@/components/about/sections/WelcomeSection.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import type { IGPost } from '@/types/ig_post_types';
import { translations, type SupportedLocale } from '@/utils/localeUtils';
import {type Props as MetadataProps} from "@/components/seo/Metadata.astro";

const { locale } = Astro.params;

const safeLocale = locale as SupportedLocale;

const igPosts: IGPost[] = await translations[safeLocale]['ig_posts.json']();

const metadata: MetadataProps = {
  title: 'Voyageblur About',
  description: 'Voyageblur About',
  keywords: ['web agency', 'websites', 'custom websites', 'astro'],
  creator: 'Jakub Cezary Kolando',
  publisher: 'Jakub Cezary Kolando',
  metadataBase: new URL('https://voyageblur.com'),
  alternates: {
    canonical: '/about',
    languages: {
      en: '/en/about',
      pl: '/pl/o-nas'
    },
  },
  openGraph: {
    url: 'https://voyageblur.com',
    title: 'Voyageblur - About',
    description: 'About Voyageblur. Learn more about Voyageblur creation.',
    // place og-image.png in public folder
    image: 'https://voyageblur.com/og-image.png',
  },
   imagesToPreload: {
  /*   remoteImages: [
      {
        href: "https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/37aed710-e371-4714-0520-f51fcb57da00/hd1920x1080",
        alt: "Background Image",
        media: "(min-width: 640px)"
      },
      {
        href: "https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/37aed710-e371-4714-0520-f51fcb57da00/hd1920x1080",
        alt: "Background Image",
        media: "(max-width: 639px)"
      }
    ] */
  }
};
---

<MainLayout metadata={metadata}>
  <div class="w-screen caret-transparent">
    {/* Hero */}
    <div 
    style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAflBMVEVHcExmXVGUjHxeUEc7NDRPRD42KitnYlp2aFlNPjhiU0pBQTiUkIGIe2l9ZlFhSz1UUkhgWk90bF+Jd2SOiXosJCZjVkQUDhRuZlx0cmiEgnc5NishFhoHBA2EbltwYVBtW0qCfnArLzVHLyVPSDw9PjxrWEJQS0VGOzd+fHNawyQuAAAAAXRSTlMAQObYZgAAAIZJREFUGNOtyFcSgyAUAMCHdEQEFOy9Jfe/YMgRMpP9XIDfde+truss01mitQaetGKeq6ootr7v4bHOoWUxRgjR+q6DPM9Pesa4RpTwNsU1DAPFjFHrrt2Bv2+/4SaMTSg4JRbKozRmPcZpelVE7gIexmSJMQsEk4YoDwgpSen3lGREKfiDDzs6CPW3mRlYAAAAAElFTkSuQmCC');
    background-size: cover;
    background-position: center"
    class="relative hero-height-big border-2 border-green-500">
      <div class="-z-10 border-2 border-red-500 w-full h-full">
        <img
        class="w-full h-full object-cover"
          src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/df5c4498-0d9a-4433-5216-ee59a6305000/hd1920x1080"
        />
      </div>
      <div
        class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-10"
      >
        <h1 class="text-7xl text-white text-center">About VoyageBlur</h1>
      </div>
    </div>
    <WelcomeSection />
    <ExploreSection />
    <StayInspiredSection igPosts={igPosts} />
  </div>
</MainLayout>
