<div class="caret-transparent section-y_padding-lg bg-custom-bg-gray w-screen flex justify-center items-center">
    <div class="md:w-fit custom-section-width flex flex-col items-center">
        <h3 class="section-highlight font-normal text-lg leading-[150%]">Stay Connected</h3>
        <h2 class="mt-2 text-center font-bold text-5xl leading-[120%] tracking-[-1%]">Join Our Journey</h2>
        <p class="mt-5 max-w-[460px] font-normal text-base leading-[150%] text-center">Get exclusive travel stories & photography tips delivered straight to your inbox.</p>
        <div class="lg:flex-row lg:mt-12 mt-8 flex-col flex gap-2.5">
            <input type="text" class="rounded-custom-small py-[18px] px-5 bg-white" placeholder="Your email address"/>
            <button class="lg:mt-0 mt-4 bg-custom-dark-blue py-4 px-8 rounded-custom-small text-white" type="submit">Subscribe</button>
        </div>
        <p class="text-center mt-4 font-normal text-base leading-[150%]">
            We respect your privacy and will never share your email
        </p>
    </div>
  </div>