<div class="py-[120px] bg-custom-bg-gray w-screen flex justify-center items-center">
    <div class="w-fit flex flex-col items-center border-2 border-green-500">
        <h3 class="section-highlight font-normal text-lg leading-[150%]">Stay Connected</h3>
        <h2 class="font-bold text-5xl leading-[120%] tracking-[-1%]">Join Our Journey</h2>
        <p class="max-w-[460px] font-normal text-base leading-[150%] text-center">Get exclusive travel stories & photography tips delivered straight to your inbox.</p>
        <div class="mt-12 flex gap-2.5">
            <input type="text" class="rounded-custom-small py-[18px] px-5 bg-white" placeholder="Your email address"/>
            <button class="bg-custom-dark-blue py-4 px-8 rounded-custom-small text-white" type="submit">Subscribe</button>
        </div>
        <p class="mt-4 font-normal text-base leading-[150%]">
            We respect your privacy and will never share your email
        </p>
    </div>
  </div>