@import "tailwindcss";

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Poppins BOLD*/
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Poppins MEDIUM (500)*/
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Poppins Regular (400) */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --radius-custom-small: 12px;
    --radius-custom-medium: 16px;
    --radius-custom-big: 20px;
    --color-custom-bg-gray: #F8F8F8;
    --color-custom-btn-border: #1B365D; 
    --color-custom-dark-blue: #1B365D;
    --color-custom-footer-blue: #061428;
}

@layer components {
    .section-y_padding-lg{
        @apply lg:py-[120px] py-[60px]
    }

    .custom-section-width {
        @apply lg:w-[75vw] w-[85vw]
    }

    .section-highlight{
        @apply relative pl-5;

        &::before {
            content: '';
            position: absolute;
            border: 1px solid black;
            width: 16px;
            top: 50%;
            left: 0;
        }
    }

    .hero-height-big{
        @apply h-[750px]
    }

    .hero-height-large{
        @apply h-[850px]
    }
}

body{
    font-family: 'PlayfairDisplay', sans-serif;
}