---
const imgCollection = [
    'https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/9e366c0c-9dc8-4598-707a-d8602d3f2f00/mobile640x480',
    'https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/02b53d3c-b68f-42cc-ffc4-9bc4792e6c00/mobile640x480',
    'https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/e4c6ee8f-a1a0-412e-b56f-75b125621300/mobile640x480',
    'https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/8bcfa2be-2bc7-4bf7-1973-f984a919c700/mobile640x480'
]
---
<div
  class="bg-custom-bg-gray caret-transparent w-screen flex justify-center items-center "
>
  <div
    class={`text-center text-wrap pt-10 pb-30 z-10 relative custom-section-width`}
  >
    <h3 class="text-2xl font-semibold">Gallery</h3>
    <h1 class="font-normal text-[64px]">Through The Analog Lens</h1>
    <h3 class="font-semibold text-2xl text-custom-font-gray">
      A curated selection of film photographs capturing the soul of our travels.
    </h3>
    {/*Gallery Pictures*/}
    <div class="mt-10 flex flex-col">
      <div class="grid md:grid-cols-2 grid-cols-1 gap-8 w-full border-2 border-green-500">
        {
          imgCollection.map((item:string) => (
            <div class="w-full border-2 border-red-500">
              <img class="object-cover w-full h-full rounded-custom-medium overflow-hidden" src={item}/>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
