---
import SectionHighlight from "@/components/SectionHighlight.astro";


---
<div class="relative border-2 border-red-500 lg:h-screen h-[75vh] caret-transparent w-screen flex justify-center items-center overflow-hidden">
    {/* Bg Image */}
    <div class="fixed border-2 border-blue-500 h-full w-full -z-10">
      <img
        src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/37aed710-e371-4714-0520-f51fcb57da00/hd1920x1080"
        alt="hero background"
        style={{ objectFit: "cover" }}
        decoding="async"
        sizes="100vw"
        class="absolute inset-0 w-full h-full"
      />
    </div>

    <div
      class={`border-2 border-green-500 flex justify-center items-center mb-10 lg:pt-10 text-wrap h-full z-10 relative custom-section-width`}
    >
      {/* Middle Section */}
      <div class="lg:h-auto lg:mt-20 px-20 flex flex-col justify-center items-center h-full">
        <SectionHighlight>Timeless Frames</SectionHighlight>
        <h1 class="mt-2 lg:text-[72px] text-5xl font-bold leading-[115%] tracking-[-1%] text-center">
          Exploring the world, <br /> one blurry frame at the time
        </h1>
        <h2 class="mt-5 max-w-[480px] text-base font-medium p-2.5 text-center">
          A curated collection of analogy photography and travel stories from
          around the globe
        </h2>
        <button class="mt-12 bg-custom-dark-blue py-4 px-8 rounded-custom-small text-white font-semibold text-xl leading-[140%] tracking-[-1%]">
          Explore Stories
        </button>
      </div>
    </div>
  </div>