<div class="py-[120px] custom-section-width mx-auto">
  {/* Grid with 2 columns and 2 rows */}
  <div class="h-fit border-2 border-green-500">
    {/* Welcome to our story */}
    <div class="grid lg:grid-cols-2 grid-cols-1 grid-rows-12">
      {/* Cell 1 */}
      <div
        class="pr-[22px] row-span-12 border-2 border-red-500 flex flex-col h-fit my-auto justify-center gap-12"
      >
        <div>
          <h3 class="section-highlight font-normal text-lg leading-[150%]">
            Timeless Photography
          </h3>
          <h2 class="mt-2 font-bold text-5xl leading-[120%] tracking-[-1%]">
            Welcome To Our Story
          </h2>
          <p class="mt-5 font-normal text-base leading-[150%]">
            Dive into the journey of VoyageBlur, where every photo, every frame,
            tells a story of exploration, authenticity, and the magic of analog
            film.
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <h3 class="font-semibold text-2xl leading-[140%] tracking-[-1%]">
            Our Story
          </h3>
          <p class="font-normal text-base leading-[150%]">
            Founded in 2025, VoyageBlur was born from a passion for capturing
            the world through the timeless aesthetics of analog photography. In
            today&apos;s fast-paced digital era, we believe there’s something
            truly magical about the imperfect beauty of film.
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <h3 class="font-semibold text-2xl leading-[140%] tracking-[-1%]">
            Our Mission
          </h3>
          <p class="font-normal text-base leading-[150%]">
            We strive to document travel experiences with authenticity and
            character—elements that only analog formats can provide. Every
            grain, light leak, and soft blur tells a story, turning each frame
            into a memory worth preserving.
          </p>
        </div>
      </div>
      {/* Cell 2 */}
      <div class="ml-4 rounded-custom-big overflow-hidden row-span-12 border-2 border-red-500 h-[530px]">
        <img loading="lazy" class="object-cover w-full h-full"
          src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/4db7288e-e3fb-4926-ec6c-30ece84d8800/square800x800"
        />
      </div>
    </div>
    <div class="mt-15 grid lg:grid-cols-2 grid-cols-1 grid-rows-12">
      {/* Cell 3 */}
      <div class="mr-[22px] rounded-custom-big overflow-hidden row-span-12 border-2 border-red-500">
        <img
          loading="lazy"
          class="object-cover w-full h-full"
          src="https://imagedelivery.net/Ap_RIQMnvK_LYOq1vIFisQ/af663291-da5a-4c56-85b6-d49a54754300/square800x800"
        />
      </div>
      {/* Cell 4 */}
      <div class="pl-4 row-span-12 border-2 border-blue-500">
        <h2 class="font-semibold text-2xl leading-[140%] tracking-[-1%]">Our Philosophy</h2>
        <p class="font-normal text-base leading-[150%]">
          Travel is more than just visiting places—it’s about experiencing them
          deeply, slowly, and thoughtfully. Just like shooting film, it requires
          patience, intention, and appreciation for the details that make each
          moment unique.
        </p>
        <div class="flex flex-col gap-6 mt-12 items-center border-2 border-green-500 w-fit mx-auto">
          <div class="flex items-center justify-start w-full">
            <img loading="lazy" width={60} height={60} src="/camera_icon.svg"/>
            <p class="font-semibold text-2xl leading-[140%] tracking-[-1%]">Timeless Aesthetics</p>
          </div>
          <div class="flex items-center justify-start w-full">
            <img loading="lazy" width={60} height={60} src="/network_icon.svg"/>
            <p class="font-semibold text-2xl leading-[140%] tracking-[-1%]">Meaningful Journeys</p>
          </div>
          <div class="flex items-center justify-start w-full">
            <img loading="lazy" width={60} height={60} src="/roll_icon.svg"/>
            <p class="font-semibold text-2xl leading-[140%] tracking-[-1%]">Through the Film Lens</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
